@font-face {
    font-family: "NotoSans";
    src: url(../font/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: "NotoSans-bold";
    src: url(../font/NotoSansKR-Bold.otf);
}
html {
    font-family: "NotoSans";
}
html *{
    margin: 0;
    padding: 0;
    list-style: none;
}
h2{
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    font-weight: bold;
}
.bottom20{
    margin-bottom: 20px;
}
.dash>li{
    position: relative;
    padding-left: 10px;
}
.dash>li::before{
    position: absolute;
    left: 0px;
    top: 12px;
    width: 6px;
    height: 1px;
    background-color: #333;
    content: '';
}

// Home
#home {
    position: relative;
    transform: translateY(-30%);
    text-align: center;
    h2 {
        letter-spacing: 10px;
        position: inherit;
        left: 0;
        margin-top: 10px;
    }
    h3 {
        margin-top: 10px;
        letter-spacing: 5px;
        b {
            font-family: "NotoSans-bold";
        }
    }
    .iconList {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 10px;
        * {
            margin: 0px 10px;
            cursor: pointer;
        }
    }
    .scroll {
        position: absolute;
        left: 50%;
        bottom: -30%;
        transform: translate(-50%, 0px);
        p{
            position: absolute;
            bottom: 0;
            display: block;
            width: 100px;
            left: 50%;
            transform: translate(-50%, 55px);
            animation-duration: 2.5s;
            animation-name: scrollDown;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes scrollDown {
    0%{
        transform: translate(-50%, 70px);
    }
    50%{
        transform: translate(-50%, 55px);
    }
    100%{
        transform: translate(-50%, 70px);
    }
}

// Experience
#experience .wrap{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.left{
    width: 50%;
    display: inline-block;
}
.right{
    width: 50%;
    display: inline-block;
    float: right;
}


// Skill
#skill{
    width: 70%;
    margin: 0 auto;
    .skills{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .skill{
        position: relative;
        img{
            width: 180px;
        }
        p{
            position: absolute;
            left: 50%;
            top: 49%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 24px;
        }
    }
    
}