@font-face {
    font-family: "NotoSans";
    src: url(../font/NotoSansKR-Regular.otf);
}
@font-face {
    font-family: "NotoSans-bold";
    src: url(../font/NotoSansKR-Bold.otf);
}
html {
    font-family: "NotoSans";
    color: #333;
}
html * {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
h2 {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    font-weight: bold;
}
.inline{
    display: inline-block;
}
.bottom20 {
    margin-bottom: 20px;
}
.flexBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.dash > li {
    position: relative;
    padding-left: 10px;
}
.dash > li::before {
    position: absolute;
    left: 0px;
    top: 12px;
    width: 6px;
    height: 1px;
    background-color: #333;
    content: "";
}
.leftArea {
    width: 50%;
    display: inline-block;
    float: left;
}
.rightArea {
    display: inline-block;
}
.star{
    position: relative;
    padding-left: 10px;
    color: #bcbcbc;
}
.star::before{
    position: absolute;
    content: '*';
    color: #ef5b5b;
    left: 0px;
    top: -2px;
}
// 말풍선 - 왼쪽
.bubble {
    position: relative;
    margin: 30px;
    padding: 10px 20px;
    width: 400px;
    height: 100px;
    background: #eee;
    border-radius: 10px;
    border-color: #eee;
    box-shadow:2px 2px 2px 2px rgba($color: #000000, $alpha: 0.5);
}
.bubble:after {
    border-top: 15px solid #eee;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
}
// Home
#home {
    position: relative;
    transform: translateY(-30%);
    text-align: center;
    h2 {
        letter-spacing: 10px;
        position: inherit;
        left: 0;
        margin-top: 10px;
    }
    h3 {
        margin-top: 10px;
        letter-spacing: 5px;
        b {
            font-family: "NotoSans-bold";
        }
    }
    .iconList {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-top: 10px;
        * {
            margin: 0px 10px;
            cursor: pointer;
        }
    }
    .scroll {
        position: absolute;
        left: 50%;
        bottom: -30%;
        transform: translate(-50%, 0px);
        p {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100px;
            left: 50%;
            transform: translate(-50%, 55px);
            animation-duration: 2.5s;
            animation-name: scrollDown;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes scrollDown {
    0% {
        transform: translate(-50%, 70px);
    }
    50% {
        transform: translate(-50%, 55px);
    }
    100% {
        transform: translate(-50%, 70px);
    }
}

// About Me
#aboutMe {
    width: 70%;
    margin: 0 auto;

    .leftArea{
        width: 20%;
        margin-right: 20px;
    }
    .flexBox div{
        cursor: pointer;
    }
}


// Experience
#experience .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
.left {
    width: 50%;
    display: inline-block;
}
.right {
    width: 50%;
    display: inline-block;
    float: right;
}

// Skill
#skill {
    width: 70%;
    margin: 0 auto;
    .skills {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .skill {
        position: relative;
        img {
            width: 180px;
        }
        p {
            position: absolute;
            left: 50%;
            top: 49%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-size: 24px;
        }
    }
}

// Touch
#touch{
    width: 80%;
    margin: 0 auto;

    .touchBox{
        position: relative;
        border: 3px solid #ddd;
        text-align: center;
        width: 30%;
        min-height: 120px;
        padding: 20px 0px 10px 0px;
        p{
            font-weight: bold;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        span{
            letter-spacing: 1px;
        }
    }
    .touchBox::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        background-color: #fff;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

    }
    .touchBox > div{
        position: absolute;
        top: -13px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 15;
    }
    .commentArea{
        margin-top: 30px;
        
        input{
            width: 100%;
            margin: 20px 20px 20px 0px;
            min-height: 80px;
            border-radius: 5px;
            background-color: #efefef;
            border:none;
        }
        button{
            border: none;
            width: 100px;
            letter-spacing: 3px;
            background-color: #ef5b5b;
            padding: 5px;
            border-radius: 5px;
            color: #fff;
            float: right;
            font-weight: bold;
        }
    }
} 

