@font-face {
  font-family: "NotoSans";
  src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: "NotoSans-bold";
  src: url(../font/NotoSansKR-Bold.otf);
}

html {
  font-family: "NotoSans";
}

html * {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 30px;
  font-weight: bold;
}

#home {
  position: relative;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  text-align: center;
}

#home h2 {
  letter-spacing: 10px;
  position: inherit;
  left: 0;
  margin-top: 10px;
}

#home h3 {
  margin-top: 10px;
  letter-spacing: 5px;
}

#home h3 b {
  font-family: "NotoSans-bold";
}

#home .iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  margin-top: 10px;
}

#home .iconList * {
  margin: 0px 10px;
}

#home .scroll {
  position: absolute;
  left: 50%;
  bottom: -30%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

#home .scroll p {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 55px);
          transform: translate(-50%, 55px);
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: scrollDown;
          animation-name: scrollDown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50%, 70px);
            transform: translate(-50%, 70px);
  }
  50% {
    -webkit-transform: translate(-50%, 55px);
            transform: translate(-50%, 55px);
  }
  100% {
    -webkit-transform: translate(-50%, 70px);
            transform: translate(-50%, 70px);
  }
}

@keyframes scrollDown {
  0% {
    -webkit-transform: translate(-50%, 70px);
            transform: translate(-50%, 70px);
  }
  50% {
    -webkit-transform: translate(-50%, 55px);
            transform: translate(-50%, 55px);
  }
  100% {
    -webkit-transform: translate(-50%, 70px);
            transform: translate(-50%, 70px);
  }
}

#experience .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}

.left {
  width: 50%;
  display: inline-block;
}

.right {
  width: 50%;
  display: inline-block;
  float: right;
}

#skill {
  width: 70%;
  margin: 0 auto;
}

#skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

#skill .skill {
  position: relative;
}

#skill .skill img {
  width: 180px;
}

#skill .skill p {
  position: absolute;
  left: 50%;
  top: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */